//-----[---ШРИФТЫ---]-----------------------------------------------------------------------------------------------------------------
//-----[Подключаем шрифты/]-----------------------------------------------------------------------------------------------------------
@import "sourse-styles/fonts.scss";
//-----[/Подключаем шрифты/]----------------------------------------------------------------------------------------------------------

//-----[Шрифт по умолчанию/]----------------------------------------------------------------------------------------------------------
//$fontfamily:'Raleway';
body {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	color: #000;
}
//-----[/Шрифт по умолчанию/]---------------------------------------------------------------------------------------------------------
//-----[--/ШРИФТЫ/--]-----------------------------------------------------------------------------------------------------------------




//-----[---ПЕРЕМЕННЫЕ---]-------------------------------------------------------------------------------------------------------------
//$min-width: 320px;
//-----[--/ПЕРЕМЕННЫЕ/--]-------------------------------------------------------------------------------------------------------------




//-----[---ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ---]---------------------------------------------------------------------------------------------
@import "sourse-styles/null.scss";

/* body {
	
} */
//-----[--/ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ/--]---------------------------------------------------------------------------------------------




//-----[---ОБОЛОЧКА---]---------------------------------------------------------------------------------------------------------------
.wrapper {
	overflow: hidden;
}

.none {
	display: none;
}
//-----[--/ОБОЛОЧКА/--]---------------------------------------------------------------------------------------------------------------




//-----[---ОСНОВНАЯ СЕТКА---]---------------------------------------------------------------------------------------------------------
.container {
	max-width: 1510px;
	padding: 0px 15px;
	margin: 0 auto;
}
//-----[--/ОСНОВНАЯ СЕТКА/--]---------------------------------------------------------------------------------------------------------




//-----[---ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ---]--------------------------------------------------------------------------
@import "sourse-styles/titles.scss";
@import "sourse-styles/colors.scss";
//-----[--/ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ/--]--------------------------------------------------------------------------




//-----[---ОСНОВНОЙ БЛОК---]----------------------------------------------------------------------------------------------------------
@import "sourse-styles/header.scss";
@import "sourse-styles/about-us.scss";
@import "sourse-styles/statistics.scss";
@import "sourse-styles/products.scss";
@import "sourse-styles/team.scss";

@import "sourse-styles/nav.scss";
@import "sourse-styles/sidebar.scss";
//-----[--/ОСНОВНОЙ БЛОК/--]----------------------------------------------------------------------------------------------------------




//-----[---Вспомогательные стили---]--------------------------------------------------------------------------------------------------

//-----[--/Вспомогательные стили/--]-------------------------------------------------------------------------------------------------- 