@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;0,800;0,900;1,300&display=swap");
body {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  color: #000;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

aside, nav, footer, header, section {
  display: block;
}

html, body {
  height: 100%;
  max-width: 100%;
}

body {
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

input::-ms-clear {
  display: none;
}

/* body {

} */
.wrapper {
  overflow: hidden;
}

.none {
  display: none;
}

.container {
  max-width: 1510px;
  padding: 0px 15px;
  margin: 0 auto;
}

.header__title {
  font-size: 48px;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  text-align: right;
  margin-bottom: 30px;
}

.about-us__title {
  font-size: 30px;
  color: #1d1d1d;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.about-us__subtitle {
  font-size: 18px;
  color: #3b3b3b;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 1.25px;
  margin-bottom: 20px;
}

.header {
  position: relative;
  background-color: #000;
  background-image: url("../img/bg/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 117px 0px 85px 0px;
}

.header__text {
  font-size: 24px;
  color: #ededed;
  letter-spacing: 2px;
  line-height: 1.667;
  text-align: right;
  font-weight: 400;
  margin-bottom: 20px;
}

.header__quote {
  font-size: 24px;
  color: #ededed;
  line-height: 1.667;
  text-align: right;
  font-weight: 300;
  font-style: italic;
}

.header__mouse {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, -70%);
      -ms-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
  width: 45px;
  height: 67px;
  -webkit-animation: mouse 1.5s infinite alternate;
          animation: mouse 1.5s infinite alternate;
}

@-webkit-keyframes mouse {
  to {
    -webkit-transform: translate(-50%, -20%);
            transform: translate(-50%, -20%);
  }
}

@keyframes mouse {
  to {
    -webkit-transform: translate(-50%, -20%);
            transform: translate(-50%, -20%);
  }
}
.about-us {
  padding: 50px 0px 70px 0px;
}

.about-us__content {
  padding: 0px 96px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-us__content p {
  font-size: 14px;
  color: #3b3b3b;
  font-weight: 600;
  line-height: 1.2;
  text-align: left;
}

.about-us__img {
  width: 90px;
  height: 50px;
  margin-bottom: 20px;
}
.about-us__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20%;
}

.logo {
  color: #fff;
  font-weight: 800;
  font-size: 30px;
  text-transform: uppercase;
  padding: 0px 15px 0px 0px;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.logo:hover {
  font-size: 32px;
  color: #ffc886;
}

.logo--black {
  color: #000;
}
.logo--black:hover {
  font-size: 32px;
  color: #ffc886;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0, 6s ease-out;
  -o-transition: all 0, 6s ease-out;
  transition: all 0, 6s ease-out;
  z-index: 3;
}
.nav__menu p {
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 2px;
  margin-right: 7px;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.nav__menu:hover p {
  font-size: 26px;
  color: #ffc886;
}
.nav__menu:hover span::after, .nav__menu:hover span::before, .nav__menu:hover span {
  background-color: #ffc886;
}

.nav__menu span {
  position: relative;
  display: block;
  background-color: #fff;
  width: 20px;
  height: 4px;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.nav__menu span::after, .nav__menu span:before {
  position: absolute;
  display: block;
  content: "";
  background-color: #fff;
  width: 20px;
  height: 4px;
  border-radius: 5px;
}
.nav__menu span::after {
  top: 7px;
}
.nav__menu span:before {
  bottom: 7px;
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  padding: 0px 20px 0px;
  background-color: rgba(252, 199, 135, 0.9);
  z-index: 2;
  -webkit-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}
.mobile-menu a {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
}
.mobile-menu p, .mobile-menu a {
  margin-bottom: 10px;
}

.header.open .mobile-menu {
  height: 100%;
  opacity: 1;
  -webkit-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.sidebar {
  height: 80px;
  padding: 25px 0px 30px 0px;
  -webkit-box-shadow: 0 0 20px 10px rgb(233, 233, 233);
          box-shadow: 0 0 20px 10px rgb(233, 233, 233);
}

.sidebar__nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sidebar__items {
  display: none;
}
.sidebar__items li {
  display: inline-block;
  margin-right: 100px;
}
.sidebar__items li:last-child {
  margin-right: 0;
}
.sidebar__items a {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.sidebar__items a:hover {
  color: #ffc886;
}
@media (min-width: 1200px) {
  .sidebar__items {
    display: block;
  }
}

.sidebar__items--mobile {
  position: absolute;
  top: 5px;
  right: 0;
  display: block;
}
@media (min-width: 1200px) {
  .sidebar__items--mobile {
    display: none;
  }
}
.sidebar__items--mobile a {
  display: block;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  margin-bottom: 10px;
}
.sidebar__items--mobile a:last-child {
  margin-bottom: 0;
}
.sidebar__items--mobile a:hover {
  color: #ffc886;
}

.drop-down__link {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0px 0px 0px 30px;
  cursor: pointer;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.25px;
}
.drop-down__link::before, .drop-down__link::after {
  position: absolute;
  content: "";
  top: 8px;
  width: 10px;
  height: 1px;
  background: #000;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.drop-down__link::before {
  left: 0;
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
  top: 10px;
}
.drop-down__link::after {
  left: 0px;
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
  top: 3px;
}
.drop-down__link.active::before, .drop-down__link.active::after {
  background-color: #ffc886;
}
.drop-down__link.active::before {
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}
.drop-down__link.active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.drop-down__content {
  position: absolute;
  right: -200px;
  top: 50px;
  padding: 20px 15px 10px 15px;
  -webkit-box-shadow: 0px 10px 15px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 10px 15px 1px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.drop-down__content.active {
  right: 0px;
}