.header__title {
    font-size: 48px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 30px;
}
.about-us__title {
    font-size: 30px;
    color: #1d1d1d;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 15px;
}
.about-us__subtitle {
    font-size: 18px;
    color: #3b3b3b;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 1.25px;
    margin-bottom: 20px;
}
.statistics__title {
    font-weight: 800;
    font-size: 30px;
    color: rgb(237, 237, 237);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.statistics__subtitle {
    font-size: 18px;
    color: rgb(237, 237, 237);
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 1.25px;
    margin-bottom: 75px;
}
.products__title {
    font-size: 30px;
    color: rgb(30, 30, 30);
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.products__subtitle {
    font-size: 18px;
    font-family: "Raleway";
    color: rgb(59, 59, 59);
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 1.25px;
    margin-bottom: 60px;
}
.team__title {
    font-size: 30px;
    font-family: "Raleway";
    color: rgb(30, 30, 30);
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.team__subtitle {
    font-size: 18px;
    font-family: "Raleway";
    color: rgb(30, 30, 30);
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 1.25px;
    margin-bottom: 40px;
}
.showcase__title {
    font-size: 30px;
    color: rgb(30, 30, 30);
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.showcase__subtitle {
    font-size: 18px;
    color: rgb(30, 30, 30);
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 1.25px;
    margin-bottom: 50px;
}
