.header__title {
    font-size: 48px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 30px;
}
.about-us__title {
    font-size: 30px;
    color: #1d1d1d;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 15px;
}
.about-us__subtitle {
    font-size: 18px;
    color: #3b3b3b;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 1.25px;
    margin-bottom: 20px;
  }
  